# DigitalOcean Serverless Function URL
# Run `bash setup.sh` to deploy the sample function and set this automatically
FUNCTION_URL=

# DigitalOcean API credentials
DIGITALOCEAN_API_TOKEN=
DIGITALOCEAN_INFERENCE_KEY=
